Run cd sms - to move into the directory
Install virtualenv using command - pip install virtualenv
Now activate the virtual environment using command - virtualenv env
Now activate the virtual env using command - .\env\Scripts\activate . This will activate the virtual environment. For linux and Mac try - source env/bin/activate
python -m pip install flask
Install all requirements by - pip install -r requirements.txt
Now to activate the local host server, run python -m flask run