<html lang="en">
<head>
    <title>
        RouteScheduler            
    </title>
</head>
<body>
    <h1>Enter The Details of the Visits </h1>
    <label for ="loc1">LOCATION 1:</label><input type="text" id="loc1" name="loc1">
    <label for ="loc2">LOCATION 2:</label><input type="text" id="loc2" name="loc2">
    <label for ="loc3">LOCATION 3:</label><input type="text" id="loc3" name="loc3">
    <label for ="loc4">LOCATION 4:</label><input type="text" id="loc4" name="loc4">
    <button type="submit" onclick='myfunction();'>Schedule It </button>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script>
        function myfunction() {
    
            const loc1 = document.getElementById("loc1").value;
            const loc2 = document.getElementById("loc2").value;
            const loc3 = document.getElementById("loc3").value;
            const loc4 = document.getElementById("loc4").value;
    
            var result;
            const dict_values = {loc1, loc2, loc3,loc4} //Pass the javascript variables to a dictionary.
            const s = JSON.stringify(dict_values); // Stringify converts a JavaScript object or value to a JSON string
            console.log(s); // Prints the variables to console window, which are in the JSON format
            window.alert(s)
            $.ajax({
                url:"/test",
                type:"POST",
                contentType: "application/json",
                async: false,
                data: JSON.stringify(s),
                success: function(response){
                    result = response;
                    console.log(response[0]);
                    
                },
            });
            
            
    
    }
    
    </script>
</body>
</html>